<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.acti.testcase.BaseTest"/>
      <class name="com.acti.testcase.TC03_DeleteCustomer"/>
      <class name="com.acti.testcase.TC01_LoginTest"/>
      <class name="com.acti.testcase.TC02_CreateCustomer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
